@font-face {
  font-family: 'gotham-thin-webfont';
  src: url('fonts/gotham-thin-webfont.eot');
  src: url('fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/gotham-thin-webfont.woff') format('woff'),
  url('fonts/gotham-thin-webfont.ttf') format('truetype'),
  url('fonts/gotham-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  font-family: 'gotham-thin-webfont';
}