// navbar icons

.i-logo-text {
  display: inline-block;
  width: 100px;
  height: 50px;
  background: url('assets/icons/logo-text.svg') no-repeat center center;
}

.i-nav-alarm {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url('assets/icons/nav-alarm.svg') no-repeat center center;
}

.i-nav-help {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url('assets/icons/nav-help.svg') no-repeat center center;
}

.i-nav-account {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url('assets/icons/nav-account.svg') no-repeat center center;
}

.i-menu-expanded {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url('assets/icons/menu-expanded.svg') no-repeat center center;
}

.i-menu-collapsed {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url('assets/icons/menu-collapsed.svg') no-repeat center center;
}

// sidebar icons

.i-menu-dashboard {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('assets/icons/menu-dashboard.svg') no-repeat center center;
}

.i-menu-network {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('assets/icons/menu-network.svg') no-repeat center center;
}

.i-menu-images {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('assets/icons/menu-images.svg') no-repeat center center;
}

.i-menu-events {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('assets/icons/menu-events.svg') no-repeat center center;
}

// network icons

.i-network-node-active {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/network-node-active.svg') no-repeat center center;

  &:hover {
    background: url('assets/icons/network-node-active-hover.svg') no-repeat center center;
  }
}

.i-network-node-inactive {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/network-node-inactive.svg') no-repeat center center;  
}

.i-network-node-vm-active {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('assets/icons/network-node-vm-active.svg') no-repeat center center;
}

.i-network-node-vm-inactive {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url('assets/icons/network-node-vm-inactive.svg') no-repeat center center;
}